---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}


        <div class="container-fluid">
          <div class="row-fluid">

            <div class="span12">
              <p>
                <span>The International Provenance and Annotation Workshop (IPAW) is a biannual workshop that is concerned with issues of data provenance, data derivation, and data annotation. It brings together computer scientists from different areas and provenance users to discuss open problems related to the provenance of computation and non-computational artifacts.
              </p>

              <h2>
                Workshop Program
              </h2>
              <br />
              <h4>Coming Soon</h4>
              <br>

              <h2>
                Organizers
              </h2>
              <br />
              <h4>
                Program Committee
              </h4>
              <br/>
              <p><strong>Coming Soon</strong></p>
              <br />
              <h4>
                PC Chair
              </h4>
              <br />
              <ul>
                <li>
                  Yuval Moskovitch
                </li>
              </ul>
              <p>Visit <a href="http://provenanceweek.github.io/ProvenanceWeek2023/">ProvenanceWeek2023</a></p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
